<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="container mb-3 text-center">
            <h1 style="font-size: 15rem; font-weight: 100;">
                OOPS!
            <span class="fs-4">
                404 - THE PAGE CAN'T BE FOUND
                <span>
                    <a class="btn btn-outline-primary" [routerLink]="['']">GO TO HOMEPAGE</a>
                </span>
            </span>
            </h1>
        </div>
    </div>
</div>